# IDEs
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Java
*.class
*.jar
*.war
*.ear
target/
.classpath
.project
.settings/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# OS
Thumbs.db
